@model List<WebStore.Models.Item>
@{
    ViewBag.Title = "Category";
}

<h2>Товары из данной категории:</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3">
            <h5>Название: @item.Name</h5>
            <h5>Описание: @item.Description </h5>
            <h5>Цена: @item.Price</h5>
            @if(item.ForSale)
            {
                @Html.ActionLink("В корзину", "Add", "Basket", new { id = @item.ItemId }, null)
            }
        </div>
    }

</div>