@model List<WebStore.Models.Item>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> Онлайн магазин </h1>
    <p class="lead">Покупай! Торопись!</p>
</div>


<h2> Товары на распродажу: </h2>
<div class="row">
    @foreach (var item in Model)
    {
        if (!item.ForSale)
        {
            continue;
        }
        <div class="col-lg-3">
            <h5>Название: @item.Name</h5>
            <h5>Цена: @item.Price</h5>
            @Html.ActionLink("В корзину", "Add", "Basket", new { id = @item.ItemId }, null)
        </div>
    }
</div>


@if (User.IsInRole("admin"))
{
    <h4> Админ: dmitry.zvonorev@phystech.edu: Chaos666^_^ </h4>

    <div class="row">
        <h2>Все товары(потом надо будет скрыть от всех, кроме админа):</h2>
        @foreach (var item in Model)
        {
            <div class="col-lg-3">
                <h5>Name: @item.Name</h5>
                <h5>Price: @item.Price</h5>
                @Html.ActionLink("Изменить", "Edit", "Item", new { id = @item.ItemId }, null)
                @Html.ActionLink("Удалить", "Delete", "Item", new { id = @item.ItemId }, null)
            </div>
        }
    </div>
}